.navigation{
	&__navbrand{
		font-family: $navbrand;
	}
	&__navlink{
		font-family: $navlink;
		font-size: 18px;
		@media only screen and (min-width: $BPmdNav){
			margin: auto 25px auto 25px; 
		}
		&:hover{
			transition: 0.3s;
			color: $marineblue !important;
		}
	}
	&__active{
		color: $marineblue !important;
		border-bottom: 2px solid $marineblue;
		transition: none !important;
	}
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
	border: none;
    outline: none;
    box-shadow: none;
}