.project-page{
	margin: 30px auto 30px auto; 
	&__header{
		text-align: center;
		font-family: $headings;
	}
}

.col-center-container{
	text-align: center;
	@media only screen and (min-width: $BPmd){
		display: table;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.column-description{
	@media only screen and (min-width: $BPmd){
		display: table-cell;
		vertical-align: middle;
	}
	
	font-family: $content;
	
	&__heading{
		font-family: $headings;
	}
	&__btn{
		width: 80%;
		height: 50px;
		background-color: transparent;
		border: 2px solid $marineblue;
		border-radius: 5px;
		font-size: 18px;
		&:hover{
			transition: 0.3s;
			color: $white;
			background-color: $marineblue;
		}
	}
}