//imports
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato|Montserrat');


//colors
$lightgrey: lightgrey;
$grey: grey;
$white: white;
$marineblue: #003366;
$marineblueTrans:rgba(0,51,102, 0.5);

//fonts
$headings: 'Julius Sans One', sans-serif;
$navbrand: 'Julius Sans One', sans-serif;
$content: 'Montserrat', sans-serif;
$navlink: 'Montserrat', sans-serif;

//breakpoints
$BPmd: 767px;
$BPmdNav: 834px;
$BPlg: 992px;