//imports
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat');

//colors
$lightgrey: lightgray;
$white: white;
$marineblue: #003366;
$marineblueTrans:rgba(0,51,102, 0.5);

//fonts
$headings: 'Julius Sans One', sans-serif;
$content: 'Montserrat', sans-serif;
