@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato|Montserrat");
body {
  background-color: #EAEAEA; }

small {
  color: grey; }

hr {
  border: 2px solid #003366;
  border-radius: 2px; }

a {
  color: #003366; }

.navigation__navbrand {
  font-family: "Julius Sans One", sans-serif; }
.navigation__navlink {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; }
  .navigation__navlink:hover {
    transition: 0.3s;
    color: #003366 !important; }
.navigation__active {
  color: #003366 !important;
  border-bottom: 2px solid #003366; }

.homepage {
  margin-top: 30px; }
  .homepage__container {
    text-align: center;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.column-me {
  display: table-cell;
  vertical-align: middle; }
  .column-me__inner {
    border-radius: 5px;
    width: 70%;
    margin: auto;
    padding: 15px;
    font-family: "Montserrat", sans-serif; }
  .column-me__heading {
    font-family: "Julius Sans One", sans-serif; }
  .column-me__btn {
    width: 80%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #003366;
    border-radius: 5px;
    font-size: 18px; }
    .column-me__btn:hover {
      transition: 0.3s;
      color: white;
      background-color: #003366; }

.project-page {
  margin: 30px auto 30px auto; }
  .project-page__header {
    text-align: center;
    font-family: "Julius Sans One", sans-serif; }

.col-center-container {
  text-align: center; }
  @media only screen and (min-width: 767px) {
    .col-center-container {
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; } }

.column-description {
  font-family: "Montserrat", sans-serif; }
  @media only screen and (min-width: 767px) {
    .column-description {
      display: table-cell;
      vertical-align: middle; } }
  .column-description__heading {
    font-family: "Julius Sans One", sans-serif; }
  .column-description__btn {
    width: 80%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #003366;
    border-radius: 5px;
    font-size: 18px; }
    .column-description__btn:hover {
      transition: 0.3s;
      color: white;
      background-color: #003366; }
